# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
- master

pool:
  vmImage: 'Windows-2019'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: UsePythonVersion@0
  displayName: 'Use Python 3.x'
- task: PowerShell@2
  displayName: PowerShell Script for InvisibilityCloak
  inputs:
    targetType: inline
    script: |
      wget https://raw.githubusercontent.com/xforcered/InvisibilityCloak/main/InvisibilityCloak.py -o InvisibilityCloak.py
      
      pip3 install requests
      pip3 install random

      ls

      python.exe .\InvisibilityCloak.py -d . -n notRubeus -m base64

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: PowerShell@2
  displayName: PowerShell Script for ConfuserEx
  inputs:
    targetType: inline
    script: |
      # make the confused folder
      mkdir ConfuserEx
      mkdir Confused
      ls

      # download specific ConfuserEx version
      wget https://github.com/mkaring/ConfuserEx/releases/download/v1.6.0/ConfuserEx-CLI.zip -o ConfuserEx-CLI.zip
      Expand-Archive .\ConfuserEx-CLI.zip -DestinationPath ConfuserEx
      ls
      ls ConfuserEx\

      
      # create confuser crpoj file
      New-Item conf.crproj
      Set-Content conf.crproj '<?xml version="1.0" encoding="utf-8"?>'
      Add-Content conf.crproj '<project outputDir="Confused\" baseDir="" xmlns="http://confuser.codeplex.com">'
      Add-Content conf.crproj '<rule preset="maximum" pattern="true">'
      Add-Content conf.crproj '<protection id="anti debug" />'
      Add-Content conf.crproj '<protection id="anti dump" />'
      Add-Content conf.crproj '<protection id="anti ildasm" />'
      Add-Content conf.crproj '<protection id="constants" />'
      Add-Content conf.crproj '<protection id="ctrl flow" />'
      Add-Content conf.crproj '<protection id="harden" />'
      Add-Content conf.crproj '<protection id="invalid metadata" />'
      Add-Content conf.crproj '<protection id="ref proxy" />'
      Add-Content conf.crproj '<protection id="rename" >'
      Add-Content conf.crproj '<argument name = "mode" value = "letters" />'
      Add-Content conf.crproj '<argument name = "renPublic" value = "false" />'
      Add-Content conf.crproj '<argument name = "renEnum" value = "true" />'
      Add-Content conf.crproj '<argument name = "renameArgs" value = "false" />'
      Add-Content conf.crproj '</protection >'
      Add-Content conf.crproj '<protection id="watermark" action="remove" />'
      Add-Content conf.crproj '<protection id="resources" />'
      Add-Content conf.crproj '<protection id="typescramble" />'
      Add-Content conf.crproj '<protection id="watermark" action="remove" />'
      Add-Content conf.crproj '</rule>'
      Add-Content conf.crproj "<module path='notRubeus\bin\Release\notRubeus.exe' />"
      Add-Content conf.crproj "</project>"

      # execute confuser on everything
      Confuser.CLI.exe conf.crproj -n
      ls Confused\
      
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Pipeline.Workspace)'
    artifact: 'rubeus'
    publishLocation: 'pipeline'